<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Maitree:wght@300&family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>
<!-- NAVIGATION -->
    <header>
        <ul id="menu-deroulant">
          <a href="{{ path('home')}}">Brasserie La Baleine</a>
          <li><a href="{{ path('home')}}">Accueil</a></li>
          <li><a href="{{ path('shop')}}">Boutique</a></li>
          <li><a href="#"></a>
            <ul>
          	  <li><a href="#">S'identifier</a></li>
          	  <li><a href="#">Créer Votre Compte</a></li>
            </ul>
          </li>
        </ul>
    </header>
<!-- FIN NAVIGATION -->
</body>
</html>
